.containerHeaderTeacher {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.containerProductsTitle {
  border-bottom: 2px solid #0047b5;
  margin: 2rem;
  width: 9rem;
}

.h1Produtos {
  font-size: 25px;
  color: #0047b5;
  font-weight: bold;
}

.containerSearchInput {
  margin-right: 3rem;
}

.form button {
  border: none;
  background: none;
  color: #8b8ba7;
}
.form {
  --timing: 0.3s;
  --width-of-input: 200px;
  --height-of-input: 40px;
  --border-height: 2px;
  --input-bg: #f0f0f0;
  --border-color: #0047b5;
  --border-radius: 30px;
  --after-border-radius: 1px;
  position: relative;
  width: var(--width-of-input);
  height: var(--height-of-input);
  display: flex;
  align-items: center;
  padding-inline: 0.8em;
  border-radius: var(--border-radius);
  transition: border-radius 0.5s ease;
  background: var(--input-bg, #fff);
}
.input {
  font-size: 0.9rem;
  background-color: transparent;
  width: 100%;
  height: 100%;
  padding-inline: 0.5em;
  padding-block: 0.7em;
  border: none;
}
.form:before {
  content: "";
  position: absolute;
  background: var(--border-color);
  transform: scaleX(0);
  transform-origin: center;
  width: 100%;
  height: var(--border-height);
  left: 0;
  bottom: 0;
  border-radius: 1px;
  transition: transform var(--timing) ease;
}
.form:focus-within {
  border-radius: var(--after-border-radius);
}

input:focus {
  outline: none;
}
.form:focus-within:before {
  transform: scale(1);
}
.reset {
  border: none;
  background: none;
  opacity: 0;
  visibility: hidden;
}
input:not(:placeholder-shown) ~ .reset {
  opacity: 1;
  visibility: visible;
}
.form svg {
  width: 17px;
  margin-top: 3px;
}

.card {
  width: 300px;
  height: 135px;
  border-radius: 8px;
  background: #f0f0f0;
  box-shadow: 5px 6px 26px #bebebe, -15px -15px 30px #ffffff;
  border: 1px solid #00000033;
}

.containerIconChange {
  display: flex;
  justify-content: end;
  align-items: center;
}

.ballIcon {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background: #0047b5;
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: 10rem;
}

.iconGrade {
  width: 1.5rem;
  height: 1.5rem;
}

@media (max-width: 768px) {
  .containerHeaderTeacher {
    flex-direction: column;
  }
  .containerProductsTitle {
    width: 100%;
  }
  .productTitle {
    display: flex;
    justify-content: center;
  }
  .containerSearchInput {
    margin-right: 0;
  }
  .form {
    width: 100%;
  }
  .card {
    width: 100%;
  }
  .containerIconChange {
    display: none;
  }

  .ballIcon {
    margin-right: 1rem;
    margin-bottom: 1rem;
  }

  .iconGrade {
    width: 1.2rem;
    height: 1.2rem;
  }

  .containerIconChange {
    display: flex;
    justify-content: end;
    align-items: center;
  }

  .ballIcon {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background: #0047b5;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 10rem;
  }
}

.imageCard {
  width: 3rem;
  height: 3rem;
}

.cardHeader {
  display: flex;
  justify-content: center;
}

.h1Tool {
  font-size: 16px;
  display: block;
  width: 164px;
  height: 40px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 500;
}

.intIcon {
  width: 1rem;
  height: 1rem;
}

.containerSeeMore {
  display: flex;
  justify-content: center;
}

.cardImage {
  background-color: #d9d9d9;
  border-radius: 0.2rem;
  margin: 6px;
  height: 55px;
  width: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerToolName {
  display: flex;
  margin: 12px;
}

.containerIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d9d9d9;
  border-radius: 0.2rem;
  width: 27px;
  height: 28px;
  margin: 6px;
  cursor: pointer;
}

.h1TypeTool {
  font-size: 14px;
  color: #707070;
  font-weight: 600;
}

.containerCardImage {
  display: grid;
  justify-content: center;
  align-items: center;
}

.descriptionTypeOftool {
  margin-left: 8px;
}

.containerEstoque {
  display: flex;
  display: flex;
  align-items: center;
  column-gap: 10px;
  margin-top: 4px;
}

.h1Estoque {
  font-size: 14px;
  font-weight: 500;
  color: #707070;
  margin-left: 8px;
}
.h1EstoqueQty {
  font-size: 14px;
  font-weight: 500;
}

.h1Qty {
  font-size: 14px;
  font-weight: 500;
  color: #707070;
  display: flex;
  justify-content: center;
}

.addMoreIcon {
  width: 2rem;
  height: 2rem;
  margin-top: 7px;
}

.containerIconAddMore {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputQty {
  background-color: #d9d9d9;
  border: black solid 1px;
  outline: none;
  border-radius: 0.2rem;
  height: 23px;
  width: 100px;
  font-weight: 600;
}

.containerH1Quantidade {
  margin-left: 3rem;
}

.containerEstoqueAndQty {
  display: flex;
  column-gap: 8px;
  margin-top: 17px;
}
