.reserveHistoricPage {
  .containerTitleHistoric {
    margin-bottom: 3rem;
    h1 {
      border-bottom: 1px solid #0047b5;
      width: 16rem;
      color: #0047b5;
      font-weight: bold;
      font-size: 25px;
    }
  }

  .containerTitleDetails {
    margin-bottom: 3rem;
    h1 {
      width: 16rem;
      color: #0047b5;
      font-weight: bold;
      font-size: 18px;
      text-transform: uppercase;
    }
  }

  .containerInformationAndDetails {
    display: flex;
    column-gap: 5rem;
    margin-bottom: 3rem;

    .leftContainer {
      display: grid;
      align-items: center;
      gap: 5px;

      .informations {
        text-transform: uppercase;
        font-size: 16px;
        font-weight: bold;
      }

      h1 {
        font-size: 12px;
        text-transform: uppercase;
      }
    }

    .rightContainer {
      display: grid;
      align-items: center;
      height: 38px;

      .reserveDetails {
        text-transform: uppercase;
        font-size: 16px;
        font-weight: bold;
      }
      h1 {
        font-size: 12px;
        text-transform: uppercase;
      }

      .containerBall {
        display: flex;
        column-gap: 7px;
        align-items: center;

        .ball {
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: #00eb7e;
          margin-right: 5px;
        }
      }
    }
  }

  .containerTable {
    h1 {
      font-size: 16px;
      text-transform: uppercase;
      font-weight: bold;
    }
    .containerTopics {
      padding-left: 10%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      border-top: black solid 1px;
      border-bottom: black solid 1px;
      column-gap: 2rem;
      margin-top: 1rem;
      h1 {
        font-size: 16px;
        text-transform: uppercase;
        font-weight: bold;
      }
    }

    .containerReservedProducts {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .limitText {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 125px;
      }
      h1 {
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 100;
      }

      .containerIMG {
        background-color: #d9d9d9;
        border-radius: 10px;
        width: 90px;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 70px;
          height: 70px;
        }
      }

      .confirmed {
        margin-right: 2rem;
      }

      .estoque {
        margin-right: 3.5rem;
      }

      .qty {
        margin-right: 7rem;
      }
    }
  }
}
