.attendant-home-container{
    
    .page-title {
        border-bottom: 1px solid #0047B5;
        width: 7rem;
        color: #0047B5;
    
        h1 {
            font-weight: 700;
        }
    }
    .todays-date {
        margin-top: 1rem;
        color: #707070;
    }
}