.attendant-home{
    .page-title{
        border-bottom: 1px solid #0047B5;
        width: 10rem;
        color: #0047B5;
        
        h1{
            font-weight: 700;
        }
    }

    .info-container{
        margin-top: 1rem;
        display: flex;
        justify-content: space-between;

        .todays-date{
            color: #707070;
        }

        .button-filter{
            width: 7rem;
            height: 1.7rem;
            
            display: flex;
            justify-content: center;
            align-items: center;
            
            cursor: pointer;
            background-color: #0047B5;
            border-radius: 2px;
            border: 1px solid #3A6EC1;
            color: #fff;
            font-size: 14px;
        }
    }


    .reserve-cards{
        margin-top: 2rem;
    }
}
