.new-storage-space-container{
    #div-line-container{
        margin-bottom: 50px;
    }

    .fields-container{
        height: 25rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

}