/* :root{
  -primary-color: #0047B5;
  -secundary-color: #003282;
}  */

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  transition: .05s;
};




